.Header {
    background: #297763;
    background: #272e71;
    box-shadow: 1px 1px 6px 0 rgb(0 0 0 / 20%);
    left: 0;
    /* position: fixed; */
    top: 0;
    width: 100%;
    z-index: 10000;
    z-index: var(--z-index-satellite);
  }
  
  .Header__inner {
    align-items: stretch;
    color: #fff;
    color: var(--color-greyscale-xlight);
    display: flex;
    height: 5.5rem;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 148rem;
    padding: 0 2rem;
    height: 60px;
  }
  
  .Header__sidebarTrigger {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  
  .SidebarTrigger {
    align-items: center;
    display: flex;
    height: 100%;
  }
  
  .SidebarTrigger__button {
    background: transparent;
    border: 0;
    color: #fff;
    color: var(--color-sidebar-trigger);
    font-size: 1.75em;
    line-height: 1;
    line-height: var(--line-height-xs);
    padding: 0;
  }
  
  .icon-inno {
    font-family: 'icon-inno' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .Header__logo {
    align-items: center;
    /* display: none; */
    justify-content: center;
    width: auto;
  }
  
  .LogoLink {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-width: 100%;
    min-width: 3.5em;
    width: 100%;
  }
  .Header__menu {
    display: flex;
    justify-content: flex-end;
  }
  .HeaderUserMenu {
    display: flex;
    padding-left: 0.5em;
  }
  .HeaderUserMenu__list {
    align-items: stretch;
    display: flex;
    justify-content: flex-end;
  }
  
  .HeaderUserMenu__item {
    align-items: center;
    display: flex;
    justify-content: stretch;
    position: relative;
  }
  
  .LogoLink__link {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    width: 100%;
  }
    
  
  @media (min-width: 1025px) {
    .Header__logo {
      width: 16em;
    }
  }
  @media (min-width: 850px) {
    .Header__logo {
      display: flex;
      width: 16em;
    }
  }
  
  @media (min-width: 850px) {
    .LogoLink {
      justify-content: flex-start;
    }
  }
  
  @media (min-width: 1200px) {
    .Header__logo {
      width: 28rem;
    }
  }
  
  @media (min-width: 1025px) {
    .Header__sidebarTrigger {
      display: none;
    }
  }
  

  
    /* //web view */

 @media (min-width: 1024px)  {
  .nav_icon {
      display: none;
    }
 }


  /* // moblie view */

@media screen and (max-width: 1023px) {
 
  .LogoLink__link {
   display: none;
  }
  .nav_icon {
  font-size: 26px;
  color: #a5aaad;
  }
  .moblie-close{
    float: right;
    /* color: #fff; */
    color: #3ea175
  }
}